html{
    box-sizing: border-box;
}
*, *:before, *:after{
    box-sizing: inherit;
}


h1{
    font-size: 20px;
    color:rgb(0 0 0/.5)
}

.sobre-nosotros{
    background-color: blueviolet;
    width: 200px;
    padding: 25px;
    box-sizing: border-box;
}

